extends ../head.pug

block content
  .container.mt-4
    h1.mb-4 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service!! 
    h1.mb-4 
    h1.mb-4 List of the Books
    a.btn.btn-primary.mb-3(href="/book/create") Create New book review
    table.table.table-striped
      thead
        tr
          th ID
          th title
          th author
          th genre
          th Actions
      tbody
        each book in books
          tr
            td= book.id
            td= book.book.title
            td= book.book.author
            td= book.book.genre
            td
              a.btn.btn-warning.btn-sm.mr-2(href=`/book/update/${book.id}`) Update
              span &nbsp;
              a.btn.btn-danger.btn-sm(href=`/api/book/delete/${book.id}`) Delete